/* controls */
div.git-draw-ctrl
{
  display: flex;
  justify-content: flex-end;
  height: 16px;
  padding: 0 32px 0 0;
}
div.git-draw-ctrl div.git-draw-button
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  margin-left: 2px;
  border-radius: 3px;
  background-color: transparent;
  color: #586069;
  font-size: 0px;
  transition: All 0.2s ease-in-out;
}
div.git-draw-ctrl div.git-draw-button.active
{
  background-color: rgb(235, 237, 240);
  cursor: pointer;
  font-size: 10px;
}
div.git-draw-ctrl div.git-draw-button.active:hover
{
  background-color: transparent;
  font-size: 11px;
  font-weight: 700;
}
div.git-draw-ctrl div.git-draw-button.active.on
{
  font-size: 10px;
  font-weight: 700;
  color: red;
}
ul.legend li.git-draw-more {
  display: none;
}

/* active state */
svg.git-draw
{
  cursor: crosshair;
  border: 1px solid red;
  user-select: none;
}
svg.git-draw rect.day
{
  opacity: 1;
}
svg.git-draw rect.day:hover
{
  stroke: red;
  stroke-width: 1;
}
ul.legend.git-draw li.git-draw-more {
  display: inline-block;
}
ul.legend.git-draw
{
  border-bottom: 1px solid red;
}
ul.legend.git-draw li
{
  cursor: pointer;
}
ul.legend.git-draw li.active
{
  cursor: default;
  border: 1px solid red;
}
body.git-draw .svg-tip
{
  display: none;
}



